@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}


body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(8, 1fr);
  gap: 2rem;
  height: 100vh;
  grid-template-areas:
    "header"
    "aside"
    "main"
    "Tarjeta1"
    "Tarjeta2"
    "Tarjeta3"
    "Tarjeta4"
    "footer"
  ;
}

a {
  text-decoration: none;
}

header {
  display: flex;
  position: sticky;
  flex-direction: column;
  background-color: #0AF794;
  justify-content: space-between;
  padding: 1rem 5rem;
  align-items: center;
  grid-area: header;
  
}

header>p {
  font-size: 2rem;
  color: rgb(0, 0, 255);
  font-weight: 800;
  cursor: pointer;
}

aside {
  margin-top: 1rem;
  grid-area: aside;
  border-radius: 0.5rem;
  color: #02ED06;
  padding: 2rem;
  border: 1px solid aliceblue;
  background-color:lightyellow;
}
aside > ul > li {
  margin-bottom: 10px;
}

main {
  grid-area: main;
  border: 2px solid black;
}
nav{
  display: flex;
  flex-direction: row;
}

nav a {
  font-size: 1rem;
  cursor: pointer;
  margin-right: 10px;
}

.Tarjeta1 {
  grid-area: Tarjeta1;
  border: 2px solid black;
}

.Tarjeta2 {
  grid-area: Tarjeta2;
  border: 2px solid black;
}

.Tarjeta3 {
  grid-area: Tarjeta3;
  border: 2px solid black;
}

.Tarjeta4 {
  grid-area: Tarjeta4;
  border: 2px solid black;
}

footer {
  grid-area: footer;
  border: 2px solid black;
}

@media screen and (min-width: 600px) {
  body {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.25rem;
    grid-template-areas:
      "header header header header header header"
      ". aside main main main ."
      ". aside main main main ."
      ". aside main main main ."
      ". Tarjeta1 Tarjeta2 Tarjeta3 Tarjeta4 ."
      ". footer footer footer footer .";
  }
  nav{
    display: flex;
    flex-direction: row;
  }
  header{
    flex-direction: row;
    padding: 2rem ;
  }
}